
<h1>Create Doctor</h1>

<a asp-controller="Doctores" asp-action="Index">Volver atrás</a>

<form method="post">

    <label for="">Id Doctor</label>
    <input type="text" name="IdDoctor" class="form-control">
    
    <label for="">Apellido</label>
    <input type="text" name="apellido" class="form-control">    
    
    <label for="">Especialidad</label>
    <input type="text" name="especialidad" class="form-control">    
    
    <label for="">Salario</label>
    <input type="text" name="Salario" class="form-control">   
    
    <label for="">Id Hospital</label>
    <input type="text" name="IdHospital" class="form-control">
    
    <button class="btn btn-primary">Crear Doctor</button>
</form>

